<!-- <form class="example-form" #form="ngForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input
      type="text"
      placeholder="Country"
      matInput
      [(ngModel)]="viewModel.country"
      #country="ngModel"
      name="country"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
<form [formGroup]="countryFormGroup">
  <div fxLayoutAlign="center">
    <mat-select-country
      appearance="outline"
      label="Country"
      class="className"
      formControlName="country"
      (onCountrySelected)="onCountrySelected($event)"
    >
    </mat-select-country>
  </div>
</form>
